body {
  background-color: rgb(0, 0, 0);
  font-family: "Comic Sans MS", Arial, sans-serif;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/*Título*/
.titulo, .titulo2{
  box-sizing: border-box;
  padding: 10px;
  border: none;
  font: normal 38px / normal "Warnes", Helvetica, sans-serif;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  white-space: pre;
  text-shadow: 0 0 10px rgb(255, 0, 0), 0 0 20px rgba(255, 0, 0),
    0 0 30px rgba(255, 0, 0), 0 0 40px #727272, 0 0 70px #727272,
    0 0 80px #4e4e4e, 0 0 100px #2b2b2b;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* Estilo para el título cuando se le hace hover */
.titulo:hover, .titulo2:hover {
  text-shadow: 0 0 10px rgb(73, 73, 73), 0 0 20px rgb(56, 56, 56),
    0 0 30px rgb(48, 48, 48), 0 0 40px #5c5c5c, 0 0 70px #000000,
    0 0 80px #000000, 0 0 100px #000000;
}
/* Texto del título */
.titulo::after {
  content: "Ojos en la pantalla!!";
}

.titulo2::after {
  content: "Manos al teclado!!";
}

/* Registro pulsaciones */
#key-counts {
  display: flex;
}

#key-counts p {
  margin-right: 10px;
}

/* Pulsaciones incorrectas */
#incorrect-key-count{
  color:#cf0000;
  font-weight: bold;
}
/* Pulsaciones correctas */
#correct-key-count{
  color:rgb(1, 226, 1);
  font-weight: bold;
}

/* Boton reset contadores*/
#reset-button{
  margin-bottom: 1%;
  margin-top: 1%;
}

/* Teclado */
.keyboard {
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(255, 0, 0);
}

.row {
  list-style: none;
  display: flex;
}

li {
  height: 3em;
  width: 3em;
  color: rgba(0,0,0,0.7);
  border-radius: 0.4em;
  line-height: 3em;
  letter-spacing: 1px;
  margin: 0.4em;
  transition: 0.3s;
  text-align: center;
  font-size: 1em;
}

#tab {
  width: 5em;
}

#caps {
  width: 6em;
}

#left-shift {
  width: 8em;
}

#enter {
  width: 6em;
}

#ShiftRight {
  width: 8em;
}

#Backspace {
  width: 5em;
}

.pinky { 
  background-color: rgb(220, 20, 60);
  border: 2px solid rgb(220, 20, 60);
}
.pinky.selected {
  color: rgb(220, 20, 60);
}

.ring { 
  background-color: rgb(255, 127, 80);
  border: 2px solid rgb(255, 127, 80);
}
.ring.selected {
  color: rgb(255, 127, 80);
}

.middle { 
  background-color: rgb(255, 140, 0);
  border: 2px solid rgb(255, 140, 0);
}
.middle.selected {
  color: rgb(255, 140, 0);
}

.pointer1st { 
  background-color: rgb(255, 217, 0);
  border: 2px solid rgb(255, 217, 0);
}
.pointer1st.selected {
  color: rgb(255, 217, 0);
}

.pointer2nd { 
  background-color: rgb(230, 220, 134);
  border: 2px solid rgb(230, 220, 134);
}
.pointer2nd.selected {
  color: rgb(230, 220, 134);
}

.fill-out-key {
  background-color: rgb(112, 128, 144);
  border: 2px solid rgb(112, 128, 144);
}

.selected {
  background-color: transparent;
  	-webkit-animation: vibrate-1 0.2s linear infinite both;
	        animation: vibrate-1 0.2s linear infinite both;
}

.hit {
	-webkit-animation: hit 0.2s cubic-bezier(0.390, 0.570, 0.560, 1.000) both;
	        animation: hit 0.2s cubic-bezier(0.390, 0.570, 0.560, 1.000) both;
}

@-webkit-keyframes hit {
  0% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes hit {
  0% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

